<!DOCTYPE html>
<html lang="en">
    #parse("/common/head.vm")
<body>

<div id="wrapper">
    <!-- Navigation -->
##    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
####        #parse("/common/navbar.vm")
####      #parse("/common/sidebar.vm")
##    </nav>
##    #parse("/common/navbar.vm")
    $screenContent


</div>
<!-- /#wrapper -->

</body>

</html>